.root {
    .header {
        text-align: center;

        .form {
            .form-input {
                margin-left: 16px;
                width: 300px;
            }
            .form-btn {
                margin-left: 16px;
            }
        }

    }

    .context {
        margin-top: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}